<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="livox_demo">
  <xacro:arg name="model" default="mid360"/>
  <xacro:arg name="name" default="mid360"/>
  <xacro:arg name="xyz" default="0 0 1"/>
  <xacro:arg name="rpy" default="0 0 0"/>
  <xacro:arg name="points_topic" default="/livox/mid360/points"/>
  <xacro:arg name="imu_topic" default="/livox/mid360/imu"/>
  <xacro:arg name="visual_mesh" default=""/>
  <xacro:arg name="mesh_rpy" default="0 0 0"/>
  <xacro:include filename="$(find livox_lidar_simulation_gz)/urdf/livox.xacro"/>
  <link name="world"/>
  <xacro:livox_lidar parent="world" name="$(arg name)" model="$(arg model)" xyz="$(arg xyz)" rpy="$(arg rpy)" points_topic="$(arg points_topic)" imu_topic="$(arg imu_topic)" visual_mesh="$(arg visual_mesh)" mesh_rpy="$(arg mesh_rpy)"/>
  <gazebo><static>true</static></gazebo>
</robot>
